<!-- templates/home.html -->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Include custom CSS -->
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container text-center mt-5">
        <h1>Welcome to the Recommendation System</h1>
        <div class="row mt-5">
            <div class="col-md-4">
                <a href="/freq-bought-recommender" class="btn btn-primary btn-lg btn-block">Frequently Bought Recommendations</a>
            </div>
            <div class="col-md-4">
                <a href="/similarity-recommender" class="btn btn-primary btn-lg btn-block">Similarity Recommendations</a>
            </div>
            <div class="col-md-4">
                <a href="/user_recommender" class="btn btn-primary btn-lg btn-block">User-based Recommendations</a>
            </div>
        </div>
    </div>
    <!-- Include jQuery and Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
